
<!-- How does form_for guess the correct URL?

1. Is the object persisted?
  Y -> Use the object's class to guess the post_path(@post) #=> posts#update
  N -> Use the object's class to guess the posts_path #=> posts#create -->


  <%= form_for(@post) do |form_builder| %>
    <p>
      <!-- errors and pre-filling the value for edit -->
      <%= form_builder.label :title %>
      <%= form_builder.text_field :title %>
    </p>

    <p>
      <%= form_builder.label :content %>
      <%= form_builder.text_area :content %>
    </p>

    <p>
      <%= form_builder.label :author_name %>
      <%= form_builder.text_field :author_name %>
    </p>


    <%= form_builder.submit %>
  <% end %>
